{% extends 'FITModuleLinuxBundle::layout.html.twig' %}

{% block linuxBody %}
    <div id="block-linux-body-title">
        {% block linuxBodyTitle %}
        {% endblock linuxBodyTitle %}
    </div>
    <div id="block-linux-body-content">
        {% block linuxBodyContent %}
        {% endblock linuxBodyContent %}
    </div>
    <div id="block-linux-body-buttons">
        {% block linuxBodyButtons %}
        {% endblock linuxBodyButtons %}
    </div>  
{% endblock linuxBody %}
