<div class="modal" id="modal-container" tabindex="-1" role="dialog">
    <div class="modal-dialog vertical-align-center" style="width: 500px; height: 600px">
        <div class="modal-content">
            <div class="modal-header">
                <div id="block-linux-modal-header">
                    {% block linuxModalHeader %}
                    {% endblock linuxModalHeader %}
                </div>
            </div>
            <div class="modal-body">
                <div id="block-linux-modal-body">
                    {% block linuxModalBody %}
                    {% endblock linuxModalBody %}
                </div>
            </div>
            <div class="modal-footer">
                <div id="block-linux-modal-footer">
                    {% block linuxModalFooter %}
                    {% endblock linuxModalFooter %}
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $(".modal").on('hidden.bs.modal', function () {
                        $(this).remove();
                    });
                });
            </script>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
