
.timezone { border: 0.5px solid black; left: -20%; top: 20%; padding: 0px; margin: 0px;}
.timezone0 { border: 2px solid black; left: 0%; top: 20%;}
.timezone1 { border: 2px solid black; left: 0%; top: 20%;}
.timezone-1 { border: 2px solid black; left: 0%; top: 20%;}
.timezone2 { border: 2px solid black; left: 0%; top: 20%;}
.timezone-2 { border: 2px solid black; left: 0%; top: 20%;}
.timezone3 { border: 2px solid black; left: 0%; top: 20%;}
.timezone-3 { border: 2px solid black; left: 0%; top: 20%;}
.timezone4 { border: 2px solid black; left: 0%; top: 20%;}
.timezone-4 { border: 2px solid black; left: 0%; top: 20%;}
.timezone5 { border: 2px solid black; left: 0%; top: 20%;}
.timezone-5 { border: 2px solid black; left: 0%; top: 20%;}
.timezone6 { border: 2px solid black; left: 0%; top: 20%;}
.timezone-6 { border: 2px solid black; left: 0%; top: 20%;}
.timezone7 { border: 2px solid black; left: 0%; top: 20%;}
.timezone-7 { border: 2px solid black; left: 0%; top: 20%;}
.timezone8 { border: 2px solid black; left: 0%; top: 20%;}
.timezone-8 { border: 2px solid black; left: 0%; top: 20%;}
.timezone9 { border: 2px solid black; left: 0%; top: 20%;}
.timezone-9 { border: 2px solid black; left: 0%; top: 20%;}
.timezone10 { border: 2px solid black; left: 0%; top: 20%;}
.timezone-10 { border: 2px solid black; left: 0%; top: 20%;}
.timezone11 { border: 2px solid black; left: 0%; top: 20%;}
.timezone-11 { border: 2px solid black; left: 0%; top: 20%;}
.active-zone { border: 2px solid red; }

